<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="android.test.example.helloworld" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application>
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="android.test.example.helloworld"
        android:label="Hello World Test"/>

</manifest>